.head {
  display: flex;
  flex-direction: row;
  background-color: rgb(253, 223, 223);
  padding: 10px 0px 10px 0px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.text-bar {
  width: 400px;
  height: 70px;
  margin-right: 50px;
  border-radius: 200px;
  font-size: 30px;
  flex-grow: 8;
}

.add-button {
  height: 70px;
  width: 70px;
  border: dashed;
  margin-right: 20px;
  border-radius: 50%;
  font-size: 30px;
  background-color: rgb(253, 223, 223);
}

.add-button:active {
  opacity: 0.5;
  transition: opacity 0.15s;
}

.task-list {
  display: flex;
  flex-direction: row;
  background-color: rgb(253, 223, 223);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.para_box {
  background-color: rgb(255, 150, 150);
  border-radius: 645px;
  width: 1290px;
  box-shadow: 3px 3px 10px black;
}

.task {
  margin-left: 30px;
  font-size: 25px;
}

.remove-button {
  background-color: rgb(255, 150, 150);
  box-shadow: 3px 3px 10px black;
  height: 50px;
  width: 50px;
  margin-right: 20px;
  font-size: 30px;
  border-radius: 50%;
  border: none;
}
